@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Montserrat", sans-serif;
}

header hr {
    border-top: 1px solid #AC8181;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .nav-logo {
    padding: 1rem 2rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 0 0.8rem;
}

header nav ul li a {
    text-decoration: none;
    color: #592693;
}

.title {
    font-family: "Montserrat", sans-serif;
}

section .title-text {
    margin: 1rem 4rem 2rem;
}

section .title-text h2 {
    color: #1d4e89;
    padding: 0.2rem 0;
    font-size: 2rem;
}

.title hr {
    border-top: 1px solid #AC8181;
    margin: 0 4rem;
    width: 60%;
}

.post {
    margin: 2rem 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    width: 60%;
}

.post p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
